@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .layout {
    flex-direction: column;
  }

  .destacados,
  .contenido-principal,
  form,
  .calendario-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  input,
  textarea,
  select,
  button {
    font-size: 1em;
    width: 100%;
  }
}